albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
attrs==25.4.0
backports-zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1767045004/work
brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
cffi==2.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==8.3.1
contourpy==1.3.3
cuda-bindings==12.9.4
cuda-pathfinder==1.3.3
cycler==0.12.1
donfig==0.8.1.post1
einops==0.8.2
fairscale==0.4.13
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1768022204021/work
flash-attn @ https://github.com/MiroPsota/torch_packages_builder/releases/download/flash_attn-2.8.3/flash_attn-2.8.3%2Bpt2.8.0cu129-cp312-cp312-linux_x86_64.whl
fonttools==4.61.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1770387778895/work
geopandas==1.1.2
gigapath @ git+https://github.com/jiribuchta/prov-gigapath.git@d0719067bbe192e3bec527f809a1a994e18ea40e
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1762946764387/work
google-crc32c==1.8.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hf-xet==1.2.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==1.4.1
hydra-core==1.3.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
imagecodecs==2026.1.14
imageio==2.37.2
jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lazy-loader==0.4
markupsafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1759055168201/work
matplotlib==3.10.8
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack==1.1.2
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numcodecs==0.16.5
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1770098484/work/dist/numpy-2.4.2-cp312-cp312-linux_x86_64.whl
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.6.77
ome-types==0.6.3
omegaconf==2.3.0
opencv-python-headless==4.13.0.92
openslide-python==1.4.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==2.3.1
pandas-stubs==3.0.0.260204
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1767353193/work
pip @ file:///home/conda/feedstock_root/build_artifacts/pip_1770270195740/work
protobuf==6.33.5
pyarrow==23.0.0
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
pysocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
pytz==2025.2
pyvips==3.1.1
pyyaml @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
rationai-staining @ git+ssh://git@gitlab.ics.muni.cz/rationai/digital-pathology/libraries/staining.git@e91337979598542601b0507e867d9a40bf5d7cab
ratiopath==1.0.3
ray==2.48.0
referencing==0.37.0
regex==2026.1.15
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
rpds-py==0.30.0
safetensors==0.7.0
scikit-image==0.26.0
scipy==1.17.0
seaborn==0.13.2
setuptools==82.0.0
shapely==2.1.2
shellingham==1.5.4
-e file:///home/jb88526/similarity
simsimd==6.5.12
six==1.17.0
stringzilla==4.6.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tifffile==2026.1.28
timm==1.0.24
tokenizers==0.22.2
torch==2.8.0+cu126
torchaudio==2.8.0+cu126
torchvision==0.23.0+cu126
tqdm==4.67.3
transformers==5.1.0
triton==3.4.0
typer-slim==0.21.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typing-inspection==0.4.2
tzdata==2025.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
wheel==0.46.3
xsdata==26.1
zarr==3.1.5
